<footer class="py-5 bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li><a
            href="https://www.linkedin.com/in/gabriel-s-a053ab24/"
            class="icoLinkedin"
            title="Linkedin"
            target="_blank"
            rel="noopener noreferrer">
            <fa-icon [icon]="faLinkedin" class="faLinkedin fa-3x p-3"></fa-icon>
          </a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <p class="m-0 text-center text-white">Copyright &copy; Teste Gabriel Ilia 2021</p>
      </div>
    </div>
  </div>
</footer>
